@{
    Layout = "~/Views/Shared/Footer.cshtml";
}

<div class="grid-container" style="background-color: rgb(60, 150, 223)">
    <div class="Fondo_icono" style="background-color: rgb(17, 68, 97)">

        <img class="center" src="~/Content/Iconos/payment.png" />
    </div>
    <div class="LOGIN" style="background-color: rgb(255, 255, 255)">

        @using (Ajax.BeginForm("BoletaValidar", "Home", new AjaxOptions { UpdateTargetId = "info_login" }, new { @class = "USUARIO" }))
        {
            <div id="info_login">
                <ul class="collection">
                    <li class="collection-item avatar">
                        <i class="material-icons circle">account_balance</i>
                        <span class="title">Numero de Boleta BANRURAL</span>
                        <p>
                            <b>@ViewBag.boleta </b> <br>
                        </p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle">today</i>
                        <span class="title">Fecha de Generación</span>
                        <p>
                            <b>@ViewBag.fecha</b> <br>
                        </p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle">account_circle</i>
                        <span class="title">Nombre completo</span>
                        <p>
                            <b>@ViewBag.usuario.nombres @ViewBag.usuario.apellidos</b> <br>
                        </p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle">home</i>
                        <span class="title">Direccion</span>
                        <p>
                            <b>@ViewBag.usuario.direccion</b> <br>
                        </p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle">monetization_on</i>
                        <span class="title">Total a pagar</span>
                        <p>
                            <b>Q. @ViewBag.total</b> <br>
                        </p>
                    </li>
                </ul>
                <div class="BOTON">
                    <button class="waves-effect waves-light btn" style="color:#FFFFFF" ;><i class="material-icons right"></i>Confirmar la boleta</button>
                </div>
            </div>
        }


    </div>
    <div class="ESPACIO_LOGO">
        <div class="LOGO">
            <img class="center" src="~/Content/Iconos/logo_empresa.png" />
        </div>
    </div>


    <div class="PIE">
        <div class="FOOTER">

            <footer class="page-footer" style="background-color: rgb(60, 150, 223); margin-top:11%;">

                <div class="footer-copyright" style="background-color: rgb(17, 68, 97)">
                    <div class="container">
                        © 2019 Proyecto AYD1
                        <a class="grey-text text-lighten-4 right" href="https://www.facebook.com">More Links</a>
                    </div>
                </div>
            </footer>

        </div>

    </div>


</div>
