
@{
    ViewBag.Title = "Carga";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}


</BR>
</BR>
</BR>
<p></p>
<p></p>


<!-- Default form login -->




    

@using (Ajax.BeginForm("InsertProducto", "Home", new AjaxOptions { UpdateTargetId = "info_login" }, new { @class = "text-center border border-light p-5" }))
{
    <p class="h4 mb-4">Carga de Productos</p>

    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Ingreso del nombre del producto -->

                <input type="text" id="name" name="name" class="form-control mb-4" placeholder="Nombre del Producto" required>
            </div>
            <div class="col">
                <!-- Ingreso de la cantidad del producto -->
                <input type="number" id="cantidad" name="cantidad" class="form-control mb-4" placeholder="Cantidad">
            </div>

        </div>


        <input type="number" id="precio" name="precio" class="form-control mb-4" placeholder="Precio">
        <textarea id="des" name="des" class="md-textarea form-control" rows="3" placeholder="Descripcion"></textarea>
        <p> </p>
        <input type="url" id="img1" name="img1" class="form-control mb-4" placeholder="Imagen 1">
        <input type="url" id="img2" name="img2" class="form-control mb-4" placeholder="Imagen 2">
        <input type="url" id="img3" name="img3" class="form-control mb-4" placeholder="Imagen 3">

        <div class="row">
            <div class="col">
                <!-- Seleccionar la categoria -->
                <h4>Seleccionar Categoria</h4>
                <select name="categoria" id="categoria" class="browser-default custom-select">

                    @foreach (var obj in @ViewBag.Categoria)
                    {
                        <option value="@obj.id">@obj.nombre</option>

                    }
                </select>
            </div>
            <div class="col">
                <h4>Seleccionar Marca</h4>
                <!-- Seleccionar la marca -->
                <select name="marca" id="marca" class="browser-default custom-select">
                    @foreach (var obj in @ViewBag.Marca)
                    {
                        <option value="@obj.id">@obj.nombre</option>

                    }
                </select>
            </div>

            <div class="col">
                <!-- Seleccionar la promocion -->
                <h4>Seleccionar Promocion</h4>
                <select name="promo" id="promo" class="browser-default custom-select">

                    <option value="0">Ninguna</option>

                    @foreach (var obj in @ViewBag.Promocion)
                    {
                        <option value="@obj.id">@obj.nombre</option>

                    }



                </select>
            </div>

        </div>

        <!--Boton para cargar -->
        <button class="btn btn-info btn-block my-4" type="submit">Cargar</button>

    </div>

}
<!-- Default form login -->
