@{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<br/>
<br />
<br />
<br />
<br />


<div class="container">

    <div class="row pt-4">

        @foreach (var obj in @ViewBag.Cliente)
        {
            

        <div class="col-md-4 mb-1">
            <div class="card profile-card">

                <!--Avatar-->
                <div class="avatar ">
                    <center>
                        <img src="@obj.foto" width="200px"
                             height="200px" class="rounded-circle" alt="First sample avatar image">
                    </center>
                </div>

                <div class="card-body pt-0 mt-0" style="background-color:#3c96df; color:white">
                    <!--Name-->
                    <div class="text-center">
                        <a href="@Url.Action("EdicionCliente", "Home", new {id=@obj.id })" class="white-text" data-toggle="tooltip" data-placement="top"
                           title="Edit"><i class="fas fa-pencil-alt"></i></a>
                        <a href="@Url.Action("EliminarCliente", "Home", new {id=@obj.id })" class="white-text" data-toggle="tooltip" data-placement="top"
                           title="Remove"><i class="fas fa-times"></i></a>





                        <h3 class="mb-3 font-weight-bold"><strong>@obj.nombres</strong></h3>

                        @if (@obj.rol == 1)
                        {
                            <h5 class="mb-3 font-weight-bold "><strong>Administrador</strong></h5>
                        }
                        else if (@obj.rol == 2)
                        {
                            <h5 class="mb-3 font-weight-bold"><strong>Empleado</strong></h5>
                        }
                        else if (@obj.rol == 3)
                        {

                            <h5 class="mb-3 font-weight-bold"><strong>Cliente</strong></h5>
                        }

                    </div>

                    <ul class="striped list-unstyled">
                        <li><strong>Nombres:</strong>@obj.nombres</li>

                        <li><strong>Apellidos:</strong>@obj.apellidos</li>

                        <li><strong>E-mail:</strong>@obj.correo</li>

                        <li><strong>Dirección:</strong>@obj.direccion</li>



                    </ul>
                    

                </div>

            </div>
           
        </div>


        }





    </div>

    



</div>
