@{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<br />
<br />
<br />
<br />
<br />



<div class="container">

    <div class="row pt-4">

        @foreach (var obj in @ViewBag.Cliente)
        {
            string modalConcat = String.Concat("#modalEditUser", obj.id.ToString());
            string modalConcatCall = String.Concat("modalEditUser", obj.id.ToString());


            <div class="col-md-4 mb-1">
                <div class="card profile-card">

                    <!--Avatar-->
                    <div class="avatar ">
                        <center>
                            <img src="@obj.foto" width="200px"
                                 height="200px" class="rounded-circle" alt="First sample avatar image">
                        </center>
                    </div>

                    <div class="card-body pt-0 mt-0" style="background-color:#3c96df; color:white">
                        <!--Name-->
                        <div class="text-center">




                            <a href="" class="white-text" data-toggle="modal" data-target="@modalConcat"
                               title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="@Url.Action("EliminarCliente", "Home", new {id=@obj.id })" class="white-text" data-toggle="tooltip" data-placement="top"
                               title="Remove"><i class="fas fa-times"></i></a>





                            <h3 class="mb-3 font-weight-bold"><strong>@obj.nombres</strong></h3>

                            @if (@obj.rol == 1)
                            {
                                <h5 class="mb-3 font-weight-bold "><strong>Administrador</strong></h5>
                            }
                            else if (@obj.rol == 2)
                            {
                                <h5 class="mb-3 font-weight-bold"><strong>Empleado</strong></h5>
                            }
                            else if (@obj.rol == 3)
                            {

                                <h5 class="mb-3 font-weight-bold"><strong>Cliente</strong></h5>
                            }

                        </div>

                        <ul class="striped list-unstyled">
                            <li><strong>Nombres:</strong>@obj.nombres</li>

                            <li><strong>Apellidos:</strong>@obj.apellidos</li>

                            <li><strong>E-mail:</strong>@obj.correo</li>

                            <li><strong>Dirección:</strong>@obj.direccion</li>

                            <li><strong>Estado:</strong>@obj.estado</li>



                        </ul>


                    </div>

                </div>

            </div>
            using (Ajax.BeginForm("EditarCliente", "Home", new AjaxOptions { UpdateTargetId = "EditarCliente" }, new { @class = "" }))
            {

                <div class="modal fade" id="@modalConcatCall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Edición</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mx-3">
                                <div class="md-form mb-5">
                                    <i class="fas fa-envelope prefix grey-text"></i>
                                    <input type="text" id="correo" name="correo" class="form-control validate" value="@obj.correo">
                                    <input type="hidden" id="id" name="id" class="form-control validate" value="@obj.id">
                                </div>
                                <div class="md-form mb-4">
                                    <i class="fas fa-user-edit prefix grey-text"></i>
                                    <input type="text" id="nombres" name="nombres" class="form-control validate" value="@obj.nombres">
                                </div>
                                <div class="md-form mb-4">
                                    <i class="fas fa-user-edit prefix grey-text"></i>
                                    <input type="text" id="apellidos" name="apellidos" class="form-control validate" value="@obj.apellidos">
                                </div>
                                <div class="md-form mb-4">
                                    <i class="fas fa-home prefix grey-text"></i>
                                    <input type="text" id="direccion" name="direccion" class="form-control validate" value="@obj.direccion">
                                </div>
                                <div class="md-form mb-4">
                                    <h4>Rol</h4>
                                    <select name="rol" id="rol" class="browser-default custom-select">

                                        @if (obj.rol == 1)
                                        {
                                            <option value="1">Administrador</option>
                                            <option value="2">Empleado</option>
                                            <option value="3">Cliente</option>

                                        }
                                        else if (obj.rol == 2)
                                        {

                                            <option value="2">Empleado</option>
                                            <option value="3">Cliente</option>
                                            <option value="1">Administrador</option>
                                        }
                                        else if (obj.rol == 3)
                                        {

                                            <option value="3">Cliente</option>
                                            <option value="2">Empleado</option>
                                            <option value="1">Administrador</option>
                                        }




                                    </select>
                                </div>
                                <div class="md-form mb-4">
                                    <i class="fas fa-globe prefix grey-text"></i>
                                    <input type="text" id="url" name="url" class="form-control validate" value="@obj.foto">
                                </div>

                                <div class="md-form mb-4">
                                    <h4>Estado</h4>
                                    <select name="estado" id="estado" class="browser-default custom-select">

                                        @if (obj.estado == "activo")
                                        {
                                            <option value="activo">Activo</option>
                                            <option value="no_activo">No activo</option>


                                        }
                                        else if (obj.estado == "no_activo")
                                        {

                                            <option value="no_activo">No activo</option>
                                            <option value="activo">Activo</option>

                                        }

                                    </select>
                                </div>


                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button class="btn btn-default">Editar</button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }





    </div>





</div>

<!--Este div contiene el boton flotante que servira para agregar usuario-->
<div class="footer-copyright py-3 text-center">
    <div class="container-fluid">
        <div class="flotante">
            <a href="" class="btn btn-danger btn-rounded mb-4  brradius" data-toggle="modal" data-target="#modalAgregarUser">
                <i class="fas fa-user-plus"></i>
                Add User
            </a>
        </div>
    </div>
</div>
<!--Este div es un modal que se abre al momento de presionar el boton flotante anterior-->

@using (Ajax.BeginForm("AgregarCliente", "Home", new AjaxOptions { UpdateTargetId = "validarRegistrar" }, new { @class = "" }))
{
    <div class="modal fade" id="modalAgregarUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Edición</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="correo" name="correo" class="form-control validate" placeholder="Correo" required>
                    </div>
                    <div class="md-form mb-4">
                        <i class="fas fa-user-alt prefix grey-text"></i>
                        <input type="text" id="nombres" name="nombres" class="form-control validate" placeholder="Nombres" required>
                    </div>
                    <div class="md-form mb-4">
                        <i class="fas fa-user-alt prefix grey-text"></i>
                        <input type="text" id="apellidos" name="apellidos" class="form-control validate" placeholder="Apellidos" required>
                    </div>
                    <div class="md-form mb-4">
                        <i class="fas fa-home prefix grey-text"></i>
                        <input type="text" id="direccion" name="direccion" class="form-control validate" placeholder="Direccion" required>
                    </div>
                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" id="password1" name="password1" class="form-control validate" placeholder="Contraseña" required>
                    </div>
                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" id="password2" name="password2" class="form-control validate" placeholder="Confirme contraseña" required>
                    </div>
                    <div class="md-form mb-4">
                        <h4>Rol</h4>
                        <select name="rol" id="rol" class="browser-default custom-select" required>

                            <option value="1">Administrador</option>
                            <option value="2">Empleado</option>
                            <option value="3">Cliente</option>

                        </select>
                    </div>
                    <div class="md-form mb-4">
                        <i class="fas fa-globe prefix grey-text"></i>
                        <input type="url" id="url" name="url" class="form-control validate" placeholder="Url Fotografía" required>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-default">Agregar Usuario</button>
                </div>
            </div>
        </div>
    </div>
}