@{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<br />
<br />
<br />
<br />

<div class="container">

    <div class="row pt-4">

        <div class="col-md-12 mb-1">
            <!-- Tabs -->
            <div class="classic-tabs">
                <!-- Nav tabs -->
                <div class="tabs-wrapper">
                    <ul class="nav tabs-primary primary-color" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link waves-light active waves-effect waves-light " data-toggle="tab"
                               href="#panel83" role="tab">
                               Productos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab"
                               href="#panel84" role="tab">Corporate Clients</a>
                        </li>
                    </ul>
                </div>
                <!-- Tab panels -->
                <div class="tab-content card">
                    <!--Panel 1-->
                    <div class="tab-pane fade show active" id="panel83" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Producto</th>
                                        <th>Categoria</th>
                                        <th>Marca</th>
                                        <th>Precio</th>
                                        <th>Edicion</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var obj in @ViewBag.Producto)
                                    {

                                        
                                        
                                    <tr>
                                        <th scope="row">@obj.id</th>
                                        <td>@obj.nombre</td>
                                        <td>@obj.categoria.nombre</td>
                                        <td>@obj.marca.nombre</td>
                                        <td>Q @obj.precio</td>
                                        <td>

                                            <a  href="@Url.Action("EdicionProducto", "Home", new {id=@obj.id })" class="teal-text" data-toggle="tooltip" data-placement="top"
                                               title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                            <a href="@Url.Action("EliminarProducto", "Home", new {id=@obj.id })" class="red-text" data-toggle="tooltip" data-placement="top"
                                               title="Remove"><i class="fas fa-times"></i></a>
                                        </td>
                                    </tr>


                                    }




                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/.Panel 1-->
                    <!--Panel 2-->
                    <div class="tab-pane fade" id="panel84" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Company Name</th>
                                        <th>Username</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>PiedPiper</td>
                                        <td>@@piedpiper</td>
                                        <td>

                                            <a class="teal-text" data-toggle="tooltip" data-placement="top"
                                               title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                            <a class="red-text" data-toggle="tooltip" data-placement="top"
                                               title="Remove"><i class="fas fa-times"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Github, Inc</td>
                                        <td>@@github</td>
                                        <td>

                                            <a class="teal-text" data-toggle="tooltip" data-placement="top"
                                               title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                            <a class="red-text" data-toggle="tooltip" data-placement="top"
                                               title="Remove"><i class="fas fa-times"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Twitter, Inc</td>
                                        <td>@@twitter</td>
                                        <td>

                                            <a class="teal-text" data-toggle="tooltip" data-placement="top"
                                               title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                            <a class="red-text" data-toggle="tooltip" data-placement="top"
                                               title="Remove"><i class="fas fa-times"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Alphabet, Inc</td>
                                        <td>@@alphabet</td>
                                        <td>

                                            <a class="teal-text" data-toggle="tooltip" data-placement="top"
                                               title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                            <a class="red-text" data-toggle="tooltip" data-placement="top"
                                               title="Remove"><i class="fas fa-times"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>Adobe Corporation</td>
                                        <td>@@adobe</td>
                                        <td>

                                            <a class="teal-text" data-toggle="tooltip" data-placement="top"
                                               title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                            <a class="red-text" data-toggle="tooltip" data-placement="top"
                                               title="Remove"><i class="fas fa-times"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/.Panel 2-->
                </div>
                <!-- /.Tabs -->
            </div>
        </div>
    </div>


</div>
