@model IList<Carrito_Compras.Models.Producto>
    @{
        Layout = "~/Views/Shared/Layout1.cshtml";
    }




    <div>
        @foreach (var obj in @ViewBag.Message)
        {
            <li>Id:    @obj.id</li>
            <li>Nombre: @obj.nombre</li> <br />
            @Html.ActionLink("Agregar", "Carrito", new { id = @obj.id })

        }

    </div><!-- /Mega menu -->
    <!-- /.Main Container -->
    <div class="container">
        <div class="row pt-4">

            <!-- Content -->
            <div class="col-lg-12">


                <!-- /.Filter Area -->
                <!-- Products Grid -->
                <section class="section pt-4">

                    <!-- Grid row -->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">

                            <!--Card-->
                            <div class="card card-ecommerce">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/1.jpg"
                                         class="img-fluid" alt="">
                                    <a>
                                        <div class="mask rgba-white-slight">
                                            <ul>
                                                <li>
                                                    Pantalla Retina de 9.7 pulgadas, resolución de pantalla 2048 x 1536
                                                    (264 ppi).
                                                </li>
                                                <li>
                                                    Pantalla Retina de 9.7 pulgadas, resolución de pantalla 2048 x 1536
                                                    (264 ppi).
                                                </li>
                                                <li>
                                                    Apple A10 Fusion SoC & M10 Coprocesador 4G LTE, 802.11ac Wi-Fi,
                                                    Bluetooth 4.2
                                                </li>
                                                <li>
                                                    Cámara frontal de 1.2 MP FaceTime HD con cámara trasera de 8 MP.
                                                </li>
                                            </ul>


                                        </div>
                                    </a>
                                </div>
                                <!--Card image-->
                                <!--Card content-->
                                <div class="card-body des">
                                    <!--Category & Title-->

                                    <h5 class="card-title mb-1">
                                        <strong>
                                            <a href="" class="white-text">iPad</a>
                                        </strong>
                                    </h5>
                                    <span class="badge badge-info mb-2">nuevo</span>


                                    <!--Card footer-->
                                    <div class="card-footer pb-0">
                                        <div class="row mb-0">
                                            <span class="float-left">
                                                <strong>Q9500.00</strong>
                                            </span>
                                            <span class="float-right">

                                                <a href="@Url.Action("Carrito", "Home", new { id =1 })" class="" data-toggle="tooltip" data-placement="top"
                                                   title="Add to Cart">
                                                    <i class="fas fa-shopping-cart ml-3"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <!--Card content-->

                            </div>
                            <!--Card-->

                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4">
                            <!--Card-->
                            <div class="card card-ecommerce">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/3.jpg"
                                         class="img-fluid" alt="">
                                    <a>
                                        <div class="mask rgba-white-slight">
                                            <ul>
                                                <li>Procesador Intel Core i5 de 3,4 GHz, Turbo Boost hasta 3,8 GHz</li>
                                                <li>Memoria de 32 GB DDR4 a 2400 MHz, 2TB Fusion Drive</li>
                                                <li>AMD Radeon Pro 570 con 4 GB de memoria de vídeo</li>
                                                <li>27" 5120 x 2880 IPS visualización Retina 5 K</li>
                                            </ul>


                                        </div>
                                    </a>
                                </div>
                                <!--Card image-->
                                <!--Card content-->
                                <div class="card-body des">
                                    <!--Category & Title-->

                                    <h5 class="card-title mb-1">
                                        <strong>
                                            <a href="" class="white-text">iMac</a>
                                        </strong>
                                    </h5>
                                    <span class="badge badge-info mb-2">nuevo</span>


                                    <!--Card footer-->
                                    <div class="card-footer pb-0">
                                        <div class="row mb-0">
                                            <span class="float-left">
                                                <strong>Q9500.00</strong>
                                            </span>
                                            <span class="float-right">

                                                <a class="" data-toggle="tooltip" data-placement="top"
                                                   title="Add to Cart">
                                                    <i class="fas fa-shopping-cart ml-3"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <!--Card content-->

                            </div>
                            <!--Card-->

                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4">

                            <!--Card-->
                            <div class="card card-ecommerce">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/6.jpg"
                                         class="img-fluid" alt="">
                                    <a>
                                        <div class="mask rgba-white-slight">

                                            <ul>
                                                <li>
                                                    Construido para estar cómodo:
                                                    El cojinete para orejas con proteína
                                                    de memoria simula la textura de la piel humana,
                                                    garantizando una comodidad duradera.
                                                    El deslizador de acero inoxidable y la banda suavemente
                                                    acolchada te permite encontrar el ajuste perfecto sin
                                                    restricciones y proporciona una excelente durabilidad.
                                                </li>

                                            </ul>
                                        </div>
                                    </a>
                                </div>
                                <!--Card image-->
                                <!--Card content-->
                                <div class="card-body des">
                                    <!--Category & Title-->

                                    <h5 class="card-title mb-1">
                                        <strong>
                                            <a href="" class="white-text">Headphones</a>
                                        </strong>
                                    </h5>
                                    <span class="badge badge-info mb-2">nuevo</span>
                                    <!--Card footer-->
                                    <div class="card-footer pb-0">
                                        <div class="row mb-0">
                                            <h5 class="mb-0 pb-0 mt-1 font-weight-bold">
                                                <span class="red-text">
                                                    <strong>Q500.00</strong>
                                                </span>
                                                <span class="grey-text">
                                                    <small>
                                                        <s>Q700.00</s>
                                                    </small>
                                                </span>
                                            </h5>

                                            <span class="float-right">

                                                <a href="DesPhones.html" class="" data-toggle="tooltip" data-placement="top"
                                                   title="Add to Cart">
                                                    <i class="fas fa-shopping-cart ml-3"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <!--Card content-->

                            </div>
                            <!--Card-->

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->
                    <!-- Grid row -->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">

                            <!--Card-->
                            <div class="card card-ecommerce">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg"
                                         class="img-fluid" alt="">
                                    <a>
                                        <div class="mask rgba-white-slight">
                                            <h1>DESCRIPCION</h1>
                                        </div>
                                    </a>
                                </div>
                                <!--Card image-->
                                <!--Card content-->
                                <div class="card-body des">
                                    <!--Category & Title-->

                                    <h5 class="card-title mb-1">
                                        <strong>
                                            <a href="" class="white-text">Asus CT-567</a>
                                        </strong>
                                    </h5>
                                    <span class="badge badge-info mb-2">nuevo</span>


                                    <!--Card footer-->
                                    <div class="card-footer pb-0">
                                        <div class="row mb-0">
                                            <span class="float-left">
                                                <strong>Q9500.00</strong>
                                            </span>
                                            <span class="float-right">
                                                <a class="" data-toggle="tooltip" data-placement="top"
                                                   title="Add to Cart">
                                                    <i class="fas fa-shopping-cart ml-3"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <!--Card content-->

                            </div>
                            <!--Card-->

                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4">
                            <!--Card-->
                            <div class="card card-ecommerce">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/2.jpg"
                                         class="img-fluid" alt="">
                                    <a>
                                        <div class="mask rgba-white-slight">
                                            <h1>DESCRIPCION</h1>
                                        </div>
                                    </a>
                                </div>
                                <!--Card image-->
                                <!--Card content-->
                                <div class="card-body des">
                                    <!--Category & Title-->

                                    <h5 class="card-title mb-1">
                                        <strong>
                                            <a href="" class="white-text">iPad PRO</a>
                                        </strong>
                                    </h5>
                                    <span class="badge badge-info mb-2">nuevo</span>


                                    <!--Card footer-->
                                    <div class="card-footer pb-0">
                                        <div class="row mb-0">
                                            <h5 class="mb-0 pb-0 mt-1 font-weight-bold">
                                                <span class="red-text">
                                                    <strong>Q5000.00</strong>
                                                </span>
                                                <span class="grey-text">
                                                    <small>
                                                        <s>Q7000.00</s>
                                                    </small>
                                                </span>
                                            </h5>

                                            <span class="float-right">

                                                <a class="" data-toggle="tooltip" data-placement="top"
                                                   title="Add to Cart">
                                                    <i class="fas fa-shopping-cart ml-3"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <!--Card content-->

                            </div>
                            <!--Card-->

                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4">

                            <!--Card-->
                            <div class="card card-ecommerce">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/4.jpg"
                                         class="img-fluid" alt="">
                                    <a>
                                        <div class="mask rgba-white-slight">
                                            <h1>DESCRIPCION</h1>
                                        </div>
                                    </a>
                                </div>
                                <!--Card image-->
                                <!--Card content-->
                                <div class="card-body des">
                                    <!--Category & Title-->

                                    <h5 class="card-title mb-1">
                                        <strong>
                                            <a href="" class="white-text">Dell V-964i</a>
                                        </strong>
                                    </h5>
                                    <span class="badge badge-info mb-2">neuvo</span>

                                    <!--Card footer-->
                                    <div class="card-footer pb-0">
                                        <div class="row mb-0">
                                            <span class="float-left">
                                                <strong>Q9500.00</strong>
                                            </span>
                                            <span class="float-right">

                                                <a class="" data-toggle="tooltip" data-placement="top"
                                                   title="Add to Cart">
                                                    <i class="fas fa-shopping-cart ml-3"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <!--Card content-->

                            </div>
                            <!--Card-->

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->
                    <!-- Grid row -->
                    <div class="row mb-3">

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">

                            <!--Card-->
                            <div class="card card-ecommerce">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/8.jpg"
                                         class="img-fluid" alt="">
                                    <a>
                                        <div class="mask rgba-white-slight">
                                            <h1>DESCRIPCION</h1>
                                        </div>
                                    </a>
                                </div>
                                <!--Card image-->
                                <!--Card content-->
                                <div class="card-body des">
                                    <!--Category & Title-->

                                    <h5 class="card-title mb-1">
                                        <strong>
                                            <a href="" class="white-text">Samsung V54</a>
                                        </strong>
                                    </h5>
                                    <span class="badge badge-info mb-2">nuevo</span>


                                    <!--Card footer-->
                                    <div class="card-footer pb-0">
                                        <div class="row mb-0">
                                            <span class="float-left">
                                                <strong>Q9500.00</strong>
                                            </span>
                                            <span class="float-right">
                                                <a class="" data-toggle="tooltip" data-placement="top"
                                                   title="Add to Cart">
                                                    <i class="fas fa-shopping-cart ml-3"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <!--Card content-->

                            </div>
                            <!--Card-->

                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4">
                            <!--Card-->
                            <div class="card card-ecommerce">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/7.jpg"
                                         class="img-fluid" alt="">
                                    <a>
                                        <div class="mask rgba-white-slight">
                                            <h1>DESCRIPCION</h1>
                                        </div>
                                    </a>
                                </div>
                                <!--Card image-->
                                <!--Card content-->
                                <div class="card-body des">
                                    <!--Category & Title-->

                                    <h5 class="card-title mb-1">
                                        <strong>
                                            <a href="" class="white-text">Dell 786i</a>
                                        </strong>
                                    </h5>
                                    <span class="badge badge-info mb-2">nuevo</span>


                                    <!--Card footer-->
                                    <div class="card-footer pb-0">
                                        <div class="row mb-0">
                                            <span class="float-left">
                                                <strong>Q9500.00</strong>
                                            </span>
                                            <span class="float-right">
                                                <a class="" data-toggle="tooltip" data-placement="top"
                                                   title="Add to Cart">
                                                    <i class="fas fa-shopping-cart ml-3"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <!--Card content-->

                            </div>
                            <!--Card-->

                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4">

                            <!--Card-->
                            <div class="card card-ecommerce">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/9.jpg"
                                         class="img-fluid" alt="">
                                    <a>
                                        <div class="mask rgba-white-slight">
                                            <h1>DESCRIPCION</h1>
                                        </div>
                                    </a>
                                </div>
                                <!--Card image-->
                                <!--Card content-->
                                <div class="card-body des">
                                    <!--Category & Title-->

                                    <h5 class="card-title mb-1">
                                        <strong>
                                            <a href="" class="white-text">Canon 675-D</a>
                                        </strong>
                                    </h5>
                                    <span class="badge badge-info mb-2">nuevo</span>


                                    <!--Card footer-->
                                    <div class="card-footer pb-0">
                                        <div class="row mb-0">
                                            <h5 class="mb-0 pb-0 mt-1 font-weight-bold">
                                                <span class="red-text">
                                                    <strong>Q3500.00</strong>
                                                </span>
                                                <span class="grey-text">
                                                    <small>
                                                        <s>Q5000.00</s>
                                                    </small>
                                                </span>
                                            </h5>

                                            <span class="float-right">

                                                <a class="" data-toggle="tooltip" data-placement="top"
                                                   title="Add to Cart">
                                                    <i class="fas fa-shopping-cart ml-3"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <!--Card content-->

                            </div>
                            <!--Card-->

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->
                    <!-- Grid row -->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">

                            <!--Card-->
                            <div class="card card-ecommerce">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/10.jpg"
                                         class="img-fluid" alt="">
                                    <a>
                                        <div class="mask rgba-white-slight">
                                            <h1>DESCRIPCION</h1>
                                        </div>
                                    </a>
                                </div>
                                <!--Card image-->
                                <!--Card content-->
                                <div class="card-body des">
                                    <!--Category & Title-->

                                    <h5 class="card-title mb-1">
                                        <strong>
                                            <a href="" class="white-text">Headphones</a>
                                        </strong>
                                    </h5>
                                    <span class="badge badge-info mb-2">nuevo</span>
                                    <!-- Rating
                                    <ul class="rating">
                                        <li>
                                            <i class="fas fa-star blue-text"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star blue-text"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star blue-text"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star blue-text"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star blue-text"></i>
                                        </li>
                                    </ul>-->
                                    <!--Card footer-->
                                    <div class="card-footer pb-0">
                                        <div class="row mb-0">
                                            <span class="float-left">
                                                <strong>Q9500.00</strong>
                                            </span>
                                            <span class="float-right">

                                                <a class="" data-toggle="tooltip" data-placement="top"
                                                   title="Add to Cart">
                                                    <i class="fas fa-shopping-cart ml-3"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <!--Card content-->

                            </div>
                            <!--Card-->

                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4">
                            <!--Card-->
                            <div class="card card-ecommerce">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg"
                                         class="img-fluid" alt="">
                                    <a>
                                        <div class="mask rgba-white-slight">
                                            <h1>DESCRIPCION</h1>
                                        </div>
                                    </a>
                                </div>
                                <!--Card image-->
                                <!--Card content-->
                                <div class="card-body des">
                                    <!--Category & Title-->

                                    <h5 class="card-title mb-1">
                                        <strong>
                                            <a href="" class="white-text">iPhone</a>
                                        </strong>
                                    </h5>
                                    <span class="badge badge-info mb-2">nuevo</span>


                                    <!--Card footer-->
                                    <div class="card-footer pb-0">
                                        <div class="row mb-0">
                                            <span class="float-left">
                                                <strong>Q9500.00</strong>
                                            </span>
                                            <span class="float-right">

                                                <a class="" data-toggle="tooltip" data-placement="top"
                                                   title="Add to Cart">
                                                    <i class="fas fa-shopping-cart ml-3"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <!--Card content-->

                            </div>
                            <!--Card-->

                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4">

                            <!--Card-->
                            <div class="card card-ecommerce">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/3.jpg"
                                         class="img-fluid" alt="">
                                    <a>
                                        <div class="mask rgba-white-slight">
                                            <h1>DESCRIPCION</h1>
                                        </div>
                                    </a>
                                </div>
                                <!--Card image-->
                                <!--Card content-->
                                <div class="card-body des">
                                    <!--Category & Title-->

                                    <h5 class="card-title mb-1">
                                        <strong>
                                            <a href="" class="white-text">iMac</a>
                                        </strong>
                                    </h5>
                                    <span class="badge badge-info mb-2">nuevo</span>
                                    <!--<span class="badge badge-danger mb-2">bestseller</span>-->
                                    <!--Card footer-->
                                    <div class="card-footer pb-0">
                                        <div class="row mb-0">
                                            <span class="float-left">
                                                <strong>Q9500.00</strong>
                                            </span>
                                            <span class="float-right">

                                                <a class="" data-toggle="tooltip" data-placement="top"
                                                   title="Add to Cart">
                                                    <i class="fas fa-shopping-cart ml-3"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <!--Card content-->

                            </div>
                            <!--Card-->

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row justify-content-center mb-4">

                        <!--Pagination -->
                        <nav class="mb-4">
                            <ul class="pagination pagination-circle pg-blue mb-0">

                                <!--First-->
                                <li class="page-item disabled clearfix d-none d-md-block">
                                    <a class="page-link waves-effect waves-effect">First</a>
                                </li>

                                <!--Arrow left-->
                                <li class="page-item disabled">
                                    <a class="page-link waves-effect waves-effect" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>

                                <!--Numbers-->
                                <li class="page-item active">
                                    <a class="page-link waves-effect waves-effect">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link waves-effect waves-effect">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link waves-effect waves-effect">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link waves-effect waves-effect">4</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link waves-effect waves-effect">5</a>
                                </li>

                                <!--Arrow right-->
                                <li class="page-item">
                                    <a class="page-link waves-effect waves-effect" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>

                                <!--First-->
                                <li class="page-item clearfix d-none d-md-block">
                                    <a class="page-link waves-effect waves-effect">Last</a>
                                </li>

                            </ul>
                        </nav>
                        <!--/Pagination -->

                    </div>
                    <!--Grid row-->
                </section>
                <!-- /.Products Grid -->

            </div>
            <!-- /.Content -->

        </div>
    </div>
    <!-- /.Main Container -->
